.messageContent > * + * {
	@apply mt-3;
}

.messageContent p {
	@apply whitespace-pre-line;
}

.messageContent :is(h1, h2, h3, h4, h5, h6) {
	@apply font-light text-xl clear-both;
}
.messageContent h1 {
	@apply text-4xl;
}
.messageContent h2 {
	@apply text-3xl;
}
.messageContent h3 {
	@apply text-2xl;
}

.messageContent a {
	@apply text-accent-300 underline underline-offset-2 hover:no-underline;
}

.messageContent :is(ul, ol) {
	@apply pl-8;
}
.messageContent ul {
	@apply list-disc clear-both;
}
.messageContent ol {
	@apply list-decimal clear-both;
}

/* pargraphs sometimes end up inside of list items for some reason, so keep them from going on new lines */
.messageContent li p {
	@apply inline-block;
}

.messageContent hr {
	@apply my-4 border-white/10 clear-both;
}

.messageContent blockquote {
	@apply border-l border-white/25 pl-4;
}

.messageContent img {
	@apply inline-block max-w-full clear-both;
}

.messageContent > code,
.messageContent :not(pre) code {
	@apply bg-black/50 rounded-md px-1 py-0.5 text-base border border-white/10;
}

.messageContent pre {
	@apply overflow-x-auto bg-black/50 rounded-md px-3 py-2 text-base clear-both;
}

.messageContent table {
	box-shadow: 0 0 0 1px inset rgba(255 255 255 / 10%);
	@apply bg-black/50 rounded-md clear-both;
}
.messageContent :is(table, thead, tbody) {
	@apply divide-y divide-white/10;
}
.messageContent tr {
	@apply divide-x divide-white/10;
}
.messageContent :is(th, td) {
	@apply px-2 py-1.5;
}
.messageContent th {
	@apply text-left;
}
.messageContent :is(th, td) {
	@apply px-3 py-1;
}

.messageContent dl {
	@apply clear-both;
}
.messageContent dt {
	@apply font-bold;
}
.messageContent dd {
	@apply pl-8;
}
