@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*:disabled,
	*[data-disabled="true"] {
		@apply pointer-events-none cursor-not-allowed opacity-50;
	}
}

@layer utilities {
	.active-press {
		@apply transition active:scale-95 active:transition-none;
	}
}

/* button */
@layer components {
	.button {
		@apply active-press inline-flex items-center justify-center gap-2 rounded-md border border-transparent px-3 pb-2.5 pt-3 font-medium leading-none transition hover:bg-white/10;
	}

	.button-outline {
		@apply border-white/10;
	}
	.button-active {
		@apply text-accent-300;
	}

	.button > .button-icon {
		@apply -ml-0.5 -mt-0.5 block s-4;
	}

	.button-square-small {
		@apply p-0 s-8;
	}
	.button-square-small > .button-icon {
		@apply ml-0 mt-0;
	}
}

/* link */
@layer components {
	.link {
		@apply text-accent-300 underline underline-offset-2 hover:no-underline;
	}
}

/* panel */
@layer components {
	.panel {
		@apply block overflow-clip rounded-md border border-white/10 bg-black/50 shadow-md shadow-black/40 backdrop-blur;
	}
	.panel .panel {
		@apply shadow-none backdrop-blur-none;
	}
	.panel-border-none {
		@apply rounded-none border-0;
	}
	.panel-border-t {
		@apply rounded-none border-0 border-t;
	}
	.panel-border-b {
		@apply rounded-none border-0 border-b;
	}
	.panel-border-l {
		@apply rounded-none border-0 border-l;
	}
	.panel-border-r {
		@apply rounded-none border-0 border-r;
	}
	.panel-border-x {
		@apply rounded-none border-0 border-x;
	}
	.panel-border-y {
		@apply rounded-none border-0 border-y;
	}
	.panel-border {
		@apply rounded-md border;
	}

	.panel-interactive {
		@apply active-press transition duration-200 hover:border-accent-300/30 hover:text-accent-300;
	}
}

/* input */
@layer components {
	.input {
		@apply panel block w-full px-3 pb-1.5 pt-2 leading-6 shadow-inner backdrop-blur-none transition focus:border-accent-300/50 focus:outline-none;
	}
}

/* nav-link */
@layer components {
	.nav-link {
		@apply active-press flex items-center gap-2 rounded-md px-3 py-2 font-medium tracking-wide transition hover:bg-white/10;
	}
	.nav-link.active {
		@apply text-accent-300;
	}
	.nav-link .nav-link-icon {
		@apply -ml-0.5 -mt-0.5 block s-5;
	}
}

@layer utilities {
	.fade-away {
		--fade-away-gradient: linear-gradient(
			to top,
			transparent,
			black 250px,
			black
		);
		-webkit-mask-image: var(--fade-away-gradient);
		mask-image: var(--fade-away-gradient);
	}
}

@layer components {
	.prose p {
		@apply my-4 whitespace-pre-line;
	}

	.prose :is(h1, h2, h3, h4, h5, h6) {
		@apply mb-3 mt-6 font-light;
	}

	.prose h1 {
		@apply text-3xl;
	}
	.prose h2 {
		@apply text-2xl;
	}
	.prose h3 {
		@apply text-xl;
	}
	.prose h4 {
		@apply text-lg;
	}
	.prose h5 {
		@apply text-base;
	}
	.prose h6 {
		@apply text-sm;
	}

	.prose a {
		@apply link;
	}

	.prose :is(ul, ol) {
		@apply mb-2 list-inside;
	}
	.prose ul {
		@apply list-disc;
	}
	.prose ol {
		@apply list-decimal;
	}

	.prose hr {
		@apply my-4 border-white/10;
	}

	.prose blockquote {
		@apply border-l border-white/25 pl-4;
	}

	.prose img {
		@apply inline-block max-w-full;
	}
}
